.NavBar {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu_list {
  display: flex;
}

.menu_list li {
  margin-right: 50px;
  list-style-type: none;
}

.header_btn {
  display: flex;
  align-items: center;
}

.login {
  padding: 10px;
  border: 2px solid #a1b6bd;
  border-radius: 7px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.trash {
  padding: 14px;
  border-radius: 7px;
  background: #1d4354;
  margin-left: 16px;
}

.trash svg {
  display: flex;
}

.menu a:hover {
  transition: 0.5s;
  color: #14a800;
}



@media (max-width: 600px) {
  .NavBar {
    align-items: center;
  }
  .menu {
    display: none;
  }
  .menu__btn {
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 13px;
    margin-right: 13px;

  }
  
  .menu__btn span {
    background-color: #000000;
    width: 100%;
    height: 2px;
    top: 9px;
    position: absolute;
    z-index: 5;
  }
  
  .menu__btn::after,
  .menu__btn::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
  }
  
  .menu__btn::after {
    top: 0;
  }
  
  .menu__btn::before {
    bottom: 0;
  }
}
