.InfoBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.percent {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  color: #000000;
}

.old_price {
  text-decoration: line-through;
  font-weight: 600;
  font-size: 25px;
  line-height: 200%;
  color: #1d4354;
  margin-right: 10px;
}

.new_price {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #14a800;
}

.name {
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 21px;
}

@media (max-width: 946px) {
  .InfoBlock {
    flex-direction: column-reverse;
  }

  .photo img {
    width: 100%;
  }
}

@media (max-width: 946px) {
  .old_price {
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
  }

  .new_price {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
  }
  .percent {
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
  }

  .name {
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
  }
}
